table {
    font-size: 15px;
    /*font-family: 'IBM Plex Mono', monospace;*/
}
table td, table th {
    background-color: #202020;
    color: #fff;
    border-top: none !important;
}
table tr td a {
    text-decoration: none;
    color: #fff;
}
table tr td a:hover {
    text-decoration: none;
    color: #c0c0c0;
}
table tr:nth-child(even) td {
    background-color: #303030;
}
